
<h1>List of users</h1>
<div class="position">
    <input type="text" placeholder="Search" [(ngModel)]="term" autocomplete="off" class="form-control" />
    <table class="table">

    <thead>
        <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Status</th>
        <th  scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let admin of Admin| filter:term| paginate: { itemsPerPage: 5, currentPage: p} ;let i = index;">
        <th scope="row">{{i+1}}</th>
        <td><img [src]="admin.profilepic" onerror="this.src='https://i1.sndcdn.com/avatars-000437232558-yuo0mv-t500x500.jpg'" alt="Avatar" class="avatar">{{admin.username}}</td>
        <td>{{admin.email}}</td>
        <td>
            <mat-slide-toggle checked="{{admin.Status}}" (change)="toggle($event,admin._id)"></mat-slide-toggle>
        </td>
        </tr>
    
    </tbody>
    </table>
    <div class="paginator">
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
</div>
<ng-template  #update let-modal>
    <div class="modal-header">
        Update user
    </div>
    <div class="modal-body">
<form [formGroup]="myFormLogin" (submit)="updateUser()">
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputEmail4">Email</label>
      <input type="email" formControlName="email"  class="form-control" id="inputEmail4" placeholder="Email" [(ngModel)]="Admins.email">
    </div>
    <div class="form-group col-md-6">
      <label >Username</label>
      <input type="text" class="form-control" formControlName="username" placeholder="Username" [(ngModel)]="Admins.username">
    </div>
    <div class="form-group col-md-12">
      <label >Picture</label>
      <input type="file" formControlName="profilepic" class="form-control" [(ngModel)]="Admins.profilepic">
    </div>
  </div>
  
  
  <button type="submit" class="btn btn-primary update-btn">update</button>
</form>
    </div>
</ng-template>