
<br>
<mat-divider></mat-divider>

<br>
<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px" class="stats-cards">
    <mat-card fxFlex="23">
       <app-widget-card label="Name 1" total="23k" percentage="10"></app-widget-card>
    </mat-card>
    <mat-card fxFlex="23" >
        <app-widget-card label="Name 2" total="25k" percentage="30"></app-widget-card>
    </mat-card>
    <mat-card fxFlex="23">
        <app-widget-card label="Name 3" total="50k" percentage="50"></app-widget-card>
    </mat-card>
    <mat-card fxFlex="23">
        <app-widget-card label="Name 4" total="55k" percentage="60"></app-widget-card>
    </mat-card>
</div>

<mat-divider></mat-divider>
<br>


<br>
<br>
<br>