
<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px" class="stats-cards">
    <mat-card fxFlex="32">
       <app-widget-card label="Number of users" total="{{nbrUsers}}" ></app-widget-card>
    </mat-card>
    <mat-card fxFlex="32" >
        <app-widget-card label="Numbers of admins" total="{{nbrAdmins}}" ></app-widget-card>
    </mat-card>
    <mat-card fxFlex="32">
        <app-widget-card label="Number of product" total="{{nbrProducts}}" ></app-widget-card>
    </mat-card>

</div>

<mat-divider></mat-divider>
<br>
<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
    <div fxFlex="100">
        <app-widget-pie [data]="pieChart"></app-widget-pie>
    </div>
</div>

<br>
<br>
<br>