<input type="text" placeholder="Search" [(ngModel)]="term" autocomplete="off" class="form-control" />
<div class="position-card ">

    <div class="row ml-5">
        
        <div class="col-sm-4" *ngFor="let prod of product | filter:term | paginate: { itemsPerPage: 3, currentPage: p}">
            <div class="card" style="width: 18rem;">
            <img  class="card-img-top" [src]="prod.image" alt="Card image cap">
            <div class="card-body text-center">
                <h5 class="card-title">{{prod.Answer}}</h5>
                
                <p class="card-text ">
                    User manager : {{prod.Admin.username}} 
                    
                </p>
                <p class="card-text ">
                    Use price <span class="badge badge-warning ">{{prod.usePrice}} $</span>
                    
                </p>
                <p class="card-text ">
                    Wining price <span class="badge badge-warning ">{{prod.winingPrice}} $</span>
                    
                </p>
                    <span class="badge badge-danger">Refuse</span> <mat-slide-toggle checked="{{prod.AdminAnswer}}" (change)="toggle($event,prod._id)"></mat-slide-toggle><span class="badge badge-success">Accept</span>
            </div>
            </div>
        </div>
    
        
    </div>
    <div class="paginator">
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
</div>